.progress {
    display: flex;
    justify-content: space-between;
    max-width: 40vw;
    margin-top: 1.3rem;
    margin-bottom: 3.2rem;
    .progress__step {
        border: 1px solid rgb(199, 14, 14);
        height: 1.4rem;
        width: 1.4rem;
        border-radius: 100%;
        transition: background-color 1000ms;
        font-size: 0.85rem;
        margin: 0 0.4rem;
      }
      .progress__step--selected {
        background-color: rgb(250, 129, 108);
      } 
  }

  
  
  