.question {
  background-color: rgba(255, 255, 255, 0.966);
  width: 60%;
  height: auto;
  box-shadow: 0 0 0.2rem rgb(63, 63, 63);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  .question-text {
    font-weight: 600;
    margin-bottom: 1.4rem;
    max-width: 80%;
    line-height: 2;
    letter-spacing: 0.02rem;
  }
  .radio-question {
    display: flex;
    .radio-question__label {
      margin-left: 0.2rem;
      margin-right: 1rem;
    }
  }
  .input-question {
    display: flex;
    flex-direction: column;
    align-items: center;
    .input-question__input {
      width: 12rem;
      line-height: 2;
    }
    .input-question__error {
      font-size: 0.8rem;
      margin-top: 1rem;
      color: rgb(109, 106, 106);
    }
  }
  .multiple-question {
    display: flex;
    .multiple-question__label {
      margin-left: 0.2rem;
      margin-right: 0.8rem;
    }
  }
  .draganddrop-question {
    max-width: 18rem;
    width: 100%;
    .draganddrop-questions__user-answer-container {
      border: 1px solid rgb(199, 14, 14);
      height: 1.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .draganddrop-questions__answer-container {
      border: 1px solid rgb(199, 14, 14);
      height: 1.6rem;
      display: flex;
      justify-content: center;
      background-color: rgb(250, 129, 108);
      padding: 0.5rem;

      .draganddrop-questions__answer {
        border-radius: 0.05rem;
        display: flex;
        align-items: center;
        padding: 0.2rem;
        margin: 0 0.1rem 0 0.1rem;
      }
    }
    .draganddrop-question__message {
      font-size: 0.8rem;
      margin-top: 1rem;
      color: rgb(109, 106, 106);
      display: inline-block;
    }
  }
}

@media (max-width: 1000px) {
  .question {
    width: 72%;
    .radio-question {
      flex-direction: column;
      align-items: flex-start;
      .radio-question__answer {
        margin-bottom: 1rem;
      }
    }
    .multiple-question {
      flex-direction: column;
      align-items: flex-start;
      .multiple-question__answer {
        margin-bottom: 1rem;
      }
    }
  }
}

@media (max-width: 500px) {
  .question {
    width: 90%;
    padding: 0.2rem;

    .draganddrop-question {
      max-width: 18rem;
      width: 100%;
      .draganddrop-questions__answer-container {
        font-size: 0.95rem;
      }
    }
  }
}
