.result-count {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  .result-count__text {
    font-weight: 600;
    padding: 1rem;
    margin-top: 3rem;
  }
}

.result-marked-answer {
  .question-text {
    font-weight: 600;
    margin: 0.5rem;
    
  }
  .result-marked-answer__correct-answer {
    line-height: 1.5;
    color: rgb(117, 235, 117);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }
  .result-marked-answer__correct-wrong {
    line-height: 1.5;
    color: rgb(221, 103, 103);
    text-transform: uppercase;
    font-size: 0.95rem;
    margin-bottom: 1rem;
    
  }
}
